.navbar {
  /* background-color: rgb(82, 109, 171); */
  background: linear-gradient(to right, rgb(90, 90, 243), purple);
  margin-top: 8px;
  height: 50px;
}
.navbar-brand {
  margin-left: 60px;
}

.container {
  /* background-color:#a994d4; */
  background: url("./login.webp");
  width: 700px;
  height: 500px;
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
}
.text {
  color: rgb(149, 46, 46);
  font-size: small;
}

.alert-success {
  height: 40px;
  width: 200px;
  margin-left: 500px;
  margin-top: 30px;
  padding-bottom: 4px;
}
.alertMessage {
  padding-bottom: 10px;
}
