body{
    background-color: rgb(237, 237, 236);
    width: auto;
}
/* .container{
  background-color: rgb(93, 93, 180);
  height: 50px;
    width: 100%;
    margin-top: 35px;
    margin-left: 4px; 

    
} */
/* .abc{
    display: flex;
    margin-left: 25px;
    padding-top: 0;
    margin-top: 0;

} */

/* .Trusttags{
    margin-left: 50px;
    font-size: larger;
    color: rgb(230, 230, 239);
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
} */
/* .user{
    margin-left: 1200px;
    margin-top: 0;
    padding-top: 0;
    border-radius: 10px;
    width: 150px;
    height: 50px;
} */

.secoundContainer{
    background-color: rgb(237, 237, 230);
    height: auto;
    width: 90%;
    margin: 10px;
    margin-left: 100px;
    margin-top: 50px;
    
}

.custom-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .custom-table th {
    background-color: #758da4; /* Set background color for table header */
    text-align: center; /* Center-align the text within table headers */
    padding: 10px; /* Add padding to the table headers */
  }
  
  .custom-table th:nth-child(5),
  .custom-table th:nth-child(6),
  .custom-table th:nth-child(7)
   {
    background-color: #7e6194; 
   }

  .custom-table td{
    text-align: center; /* Center-align the text within table headers */
    padding: 10px; /* Add padding to the table headers */

  }
  

  .clickable-row {
    cursor: pointer; /* Change cursor to pointer on hover */
  }
  
  .clickable-row:hover {
    background-color: lightgray; /* Change background color on hover */
  }
  
  .navbar-brand{
    margin-left: 60px;
  }
  .navbar{
    background: linear-gradient(to right, rgb(90, 90, 243), purple);
    margin-top: 8px;
    width: auto;
    height: 50px;
  }

  .back{
    color: white;
    margin-top: 100px;
    margin-left: 700px;
    width: 100px;
    height: 40px;
    border-radius: 6px;
    background-color: rgb(55, 47, 47);
  }

  .create{
    margin-left: 950px;
  }



@media  only screen and (min-width:768px) and (max-width: 1290px) {

  .create {
    margin-left: 20px; /* Adjust the position of the create button */
  }
  .logout{
    margin-left: 20px;
  }
  /* .logout{
    margin-left: 0px
  } */
  .secoundContainer{
    width: 80%;
    margin-left: 50px;
    margin-top: 20px;
    
}
.back {
  margin-left: 550px;
}
.navbar-brand {
  margin-left: 20px;
}

.custom-table {
  width: 100%;
  border-collapse: collapse;
}
.navbar-brand{
  margin-left: 3px;
}
/* nav{
  width: auto;
} */
/* .navbar{
  background: linear-gradient(to right, rgb(90, 90, 243), purple);
  margin-top: 8px;
  width: auto;
  height: 50px;
} */




  

}

@media  only screen and  (max-width: 768px)   {
  .create {
    margin-left: 5px; /* Adjust the position of the create button */
  }
  .logout{
    margin-left: 10px;
  }
  .back{
    margin-left: 20px;
  }

  .secoundContainer{
    margin-left: 2px;
    margin-top: 20px;
  overflow: auto;
  
}
.navbar-brand{
  margin-left: 3px;
}


}

