<body>

    <nav
class="navbar navbar-expand-lg bg-body-tertiary navbar "
data-bs-theme="dark"
>
  <div class="container-fluid">
    <a class="navbar-brand" href="#">TrustTags</a>
    <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  </div>
</nav>

<!-- <div class="sidebar">
    <li>Product</li>
    <li>Batch</li>
</div> -->


<div class="d-flex flex-column flex-shrink-0 p-3 bg-light sidebar" >
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none ">
      <li class="nav-item  nav nav-pills flex-column mb-auto ">
        <a href="#" class="nav-link active home" aria-current="page">
          Home
        </a>
      </li>

    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li>
        <a href="#" class="nav-link link-dark">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
          Products
        </a>
      </li>
      <li>
        <a href="#" class="nav-link link-dark">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
          Batch
        </a>
      </li>
    </ul>
    <hr>
    <!-- <a class="dropdown-item" (click)="onClick">Logout</a> -->
    <button (click)="onClick">Logout</button>

    <!-- <div class="dropdown">
      <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
      </a>
        <li><a class="dropdown-item" href="#">Sign out</a></li>
    </div> -->
  </div>
    
</body>

