<!-- <body>
  <nav
    class="navbar navbar-expand-lg bg-body-tertiary navbar"
    data-bs-theme="dark"
  >
    <div class="container-fluid">
      <a class="navbar-brand" href="#">TrustTags</a>
    </div>
  </nav>

  <div>
    <div class="p-3 sidebar">
      <a
        href="/"
        class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none"
      >
        <li class="nav-item nav nav-pills flex-column">
          <a href="#" class="nav-link home" aria-current="page"> Home </a>
        </li>
      </a>
      <hr />
      <ul class="nav nav-pills flex-column mb-auto">
        <li>
          <a href="#" class="nav-link link-hover">
            <svg class="bi me-2" width="16" height="16">
              <use xlink:href="#grid"></use>
            </svg>
            Products
          </a>
        </li>
        <li>
          <a href="#" class="nav-link link-hover">
            <svg class="bi me-2" width="16" height="16">
              <use xlink:href="#people-circle"></use>
            </svg>
            Batch
          </a>
        </li>
      </ul>
      <hr />
      <button type="button" class="btn btn-primary Logout" (click)="(onClick)">
        Logoutss
      </button>
    </div>

    <div class="inline-div">hello</div>
  </div>
</body> -->

<!--new code-->

<body>
  <nav
    class="navbar navbar-expand-lg bg-body-tertiary navbar"
    data-bs-theme="dark"
  >
    <div class="container-fluid">
      <a class="navbar-brand" href="#">TrustTags</a>
    </div>
  </nav>

  <div class="d-flex">
    <div class="p-3 sidebar">
      <a
        href="/"
        class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none"
      >
        <li class="nav-item nav nav-pills flex-column">
          <a href="#" class="nav-link home" aria-current="page"> Home </a>
        </li>
      </a>
      <hr />
      <ul class="nav nav-pills flex-column mb-auto">
        <li>
          <a href="#" class="nav-link link-hover">
            <svg class="bi me-2" width="16" height="16">
              <use xlink:href="#grid"></use>
            </svg>
            Product
          </a>
        </li>
        <li>
          <a href="#" class="nav-link link-hover">
            <svg class="bi me-2" width="16" height="16">
              <use xlink:href="#people-circle"></use>
            </svg>
            Batch
          </a>
        </li>
      </ul>
      <hr />
      <button type="button" class="btn btn-primary Logout" (click)="onClick()">
        Logout
      </button>
    </div>

    <div class="content">
      <div class="inline-div">
        <!-- <app-product> </app-product> -->
        <app-batch></app-batch>

        <!-- <form class="row g-3 needs-validation list-page" novalidate>
          <div class="col-md-8">
            <label for="validationCustom01" class="form-label"
              >Product Name</label
            >
            <input
              type="text"
              class="form-control"
              id="validationCustom01"
              required
            />
            <div class="valid-feedback">Looks good!</div>
          </div>
          <div class="col-md-8">
            <label for="validationCustom04" class="form-label"
              >Product Type</label
            >
            <input
              type="text"
              class="form-control"
              id="validationCustom01"
              required
            />
          </div>
          <div class="col-md-8">
            <label for="validationCustom05" class="form-label"
              >Product Image</label
            >

            <div class="input-group mb-3">
              <input
                type="file"
                class="form-control"
                id="validationCustom01"
                required
              />

              <label class="input-group-text" for="inputGroupFile02"
                >Upload</label
              >
            </div>
          </div>

          <div class="col-12">
            <br />
            <button class="btn btn-primary" type="submit">
              Create Product
            </button>
          </div>
        </form> -->
      </div>
    </div>
  </div>
</body>

<router-outlet> </router-outlet>
